@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  color: #333;
  font: 400;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.encolumnar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-bottom: 30px;
  border-bottom: 0.5px solid gray;
}


ul {
  list-style: none;
}

nav {
  padding: 20px;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  background-color: #fcee21;
}

nav a {
  text-transform: capitalize;
}

nav h1 {  
  margin-right: auto;
  font-size: 51px;
}

nav h1,
footer h1 {
  font-family: "Coiny", cursive;
}

nav a,
footer a {
  margin-left: 20px;
  color: #7a7a7a;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}


#presentacion {width: 50%;}

#imagen1 {width: 100%;}


header h1 {
  font-size: 31px;
  font-weight: 700;
  font-family: "Coiny", cursive;
}

.grande {
  font-size: 100px;
  font-family: "Coiny", cursive;
}


h1,
h2,
h3,
.item {
  color: black;
}

h2,
h3 {
  background-color: #fcee21;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
  display: inline;
}

h4 {
  margin: 0;
  font-size: 51px;
  color: white;
  background-color: black;
  line-height: 60px;
  padding: 10px;
  margin-bottom: 30px;
}

.item {
  font-size: 24px;
  font-weight: bold;
  background-color: #fcee21;
}

footer,
main,
header,
aside {
  width: 100%;
}

main {
  font-size: 21px;
}

#servicios {
  align-items: center;
  background-color: whitesmoke;
  margin-bottom: 40px;
  padding: 30px;
}

#imagen2 {
  width: 80%;
}



ol {
  font-size: 1em;
  font-weight: 400;
  list-style-position: inside;
}

.item {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  background-color: #fcee21;
  margin-top: 50px;
  list-style-type: none;
}

span {
  color: red;
}

label,
textarea,
button,
.reset {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
button {
  width: 100%;
  height: 40px;
}

textarea {
  width: 100%;
  height: 100px;
}

.boton,
.reset {
  width: 45%;
  display: inline;
  background-color: black;
  color: white;
}
.botoncentro {
  text-align: center;
}

form {
  margin: auto;
}

aside {
  text-align: center;
}

aside p {
  text-align: left;
}

#titulo {
  font-size: 40px;
}

header.encolumnar,
aside.encolumnar {
  border-bottom: none;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.redes img {
  width: 35%;
}



footer {
  height: 100px;
  padding: 10px;
  background-color: #fcee21;
}

footer h1 {
  font-size: 33px;
}
