@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    color: #333;
    font: 400 24px "Roboto", sans-serif;
    width: 45%;
    margin: auto;
}

ul {
    list-style: none;
}

nav {
    padding: 20px;
}

nav a {
    text-transform: capitalize;
}

nav h1 {
    margin-right: auto;
}

nav h1,
footer h1 {
    font-family: "Coiny", cursive;
}

nav a,
footer a {
    margin-left: 20px;
    color: #7a7a7a;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

header h1 {
    font-size: 41px;
    font-weight: 700;
}

h1,
h2,
h3 {
    color: black;
}

h2,
h3 {
    font-size: 20px;
    background-color: #fcee21;
}

h2 {
    font-weight: none;
}

h3 {
    font-size: 26px;
}

h4 {
    margin: 0;
    font-size: 51px;
    color: white;
    background-color: black;
    line-height: 100px;
    padding: 10px;
}

footer,
main,
header,
aside {
    width: 100%;
}

main {
    font-size: 21px;
}

aside { text-align: center;}

aside img {
    height: auto;
    width: 22%;
    }

section img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

footer {
    height: 100px;
    padding: 10px;
    background-color: #fcee21;
    }

footer h1 {
    font-size: 33px;
}
